In [5]:
import re

In [63]:
import pandas as pd
data = [line.strip() for line in open("train_set.txt", "r").readlines()]
data = [{"LineNumber": line.split('~')[0], "Text": line.split('~')[1]} for line in data]
data = pd.DataFrame(data)
data.head()

  LineNumber                                               Text
0         L0  gs.api.log.57_13-09-2019_06:59 34703 INFO gs.o...
1         L1  gs.compute.log.30_2019-09-12_07:04:00 39946 IN...
2         L2  gs.compute.log.77_2019-09-11_10:53:00 94359 IN...
3         L3  gs.compute.log.38_2019-09-01_13:31:00 80828 IN...
4         L4  gs.api.log.38_Sep 01, 2019_13:20:00 44944 INFO...

In [72]:
datat = [line.strip() for line in open("public_test_set.txt", "r").readlines()]
datat = [{"LineNumber": line.split('~')[0], "Text": line.split('~')[1]} for line in datat]
datat = pd.DataFrame(datat)
datat.shape

(702, 2)

In [105]:
data['response'] = data['Text'].apply(lambda x: x.split('.')[5])
datat['response'] = datat['Text'].apply(lambda x: x.split('.')[5])
data.head()

,LineNumber,Text,response,API_code
0,L0,gs.api.log.57_13-09-2019_06:59 34703 INFO gs.o...,wsgi,api
1,L1,gs.compute.log.30_2019-09-12_07:04:00 39946 IN...,server [ req-0fpkx-6purm-vpog-enwlc-a32lk ] Cr...,compute
2,L2,gs.compute.log.77_2019-09-11_10:53:00 94359 IN...,openstack,compute
3,L3,gs.compute.log.38_2019-09-01_13:31:00 80828 IN...,claims [ req-j1yt-0n37-nji3-xkf8 ] Creating ev...,compute
4,L4,"gs.api.log.38_Sep 01, 2019_13:20:00 44944 INFO...","claims [ req-fcvp-2m85w-bdsu2p-voi178 ] ""DELET...",api

In [108]:
data['mod_txt'] = data['Text'].apply(lambda x: ''.join([i for i in x if not i.isdigit()]))
datat['mod_txt'] = datat['Text'].apply(lambda x: ''.join([i for i in x if not i.isdigit()]))
data.head()

,LineNumber,Text,response,API_code,mod_txt
0,L0,gs.api.log.57_13-09-2019_06:59 34703 INFO gs.o...,wsgi,api,gs.api.log._--_: INFO gs.openstack.wsgi.serve...
1,L1,gs.compute.log.30_2019-09-12_07:04:00 39946 IN...,server [ req-0fpkx-6purm-vpog-enwlc-a32lk ] Cr...,compute,gs.compute.log._--_:: INFO gs.openapi.server ...
2,L2,gs.compute.log.77_2019-09-11_10:53:00 94359 IN...,openstack,compute,gs.compute.log._--_:: INFO gs.api.openstack.c...
3,L3,gs.compute.log.38_2019-09-01_13:31:00 80828 IN...,claims [ req-j1yt-0n37-nji3-xkf8 ] Creating ev...,compute,gs.compute.log._--_:: INFO gs.resource.claims...
4,L4,"gs.api.log.38_Sep 01, 2019_13:20:00 44944 INFO...","claims [ req-fcvp-2m85w-bdsu2p-voi178 ] ""DELET...",api,"gs.api.log._Sep , _:: INFO gs.resource.claims..."

In [112]:
data['mod_txt2'] = data['mod_txt'].apply(lambda x: x.replace('_','').replace('-','').replace('  ',''))
datat['mod_txt2'] = datat['mod_txt'].apply(lambda x: x.replace('_','').replace('-','').replace('  ','') )
data.head()

,LineNumber,Text,response,API_code,mod_txt,mod_txt2
0,L0,gs.api.log.57_13-09-2019_06:59 34703 INFO gs.o...,wsgi,api,gs.api.log._--_: INFO gs.openstack.wsgi.serve...,gs.api.log.:INFO gs.openstack.wsgi.server [ re...
1,L1,gs.compute.log.30_2019-09-12_07:04:00 39946 IN...,server [ req-0fpkx-6purm-vpog-enwlc-a32lk ] Cr...,compute,gs.compute.log._--_:: INFO gs.openapi.server ...,gs.compute.log.::INFO gs.openapi.server [ reqf...
2,L2,gs.compute.log.77_2019-09-11_10:53:00 94359 IN...,openstack,compute,gs.compute.log._--_:: INFO gs.api.openstack.c...,gs.compute.log.::INFO gs.api.openstack.compute...
3,L3,gs.compute.log.38_2019-09-01_13:31:00 80828 IN...,claims [ req-j1yt-0n37-nji3-xkf8 ] Creating ev...,compute,gs.compute.log._--_:: INFO gs.resource.claims...,gs.compute.log.::INFO gs.resource.claims [ req...
4,L4,"gs.api.log.38_Sep 01, 2019_13:20:00 44944 INFO...","claims [ req-fcvp-2m85w-bdsu2p-voi178 ] ""DELET...",api,"gs.api.log._Sep , _:: INFO gs.resource.claims...","gs.api.log.Sep , ::INFO gs.resource.claims [ r..."

# Universal Sentence Encoder

In [115]:
import tensorflow as tf
import tensorflow_hub as hub

In [113]:
data['mod_txt2'][0]

'gs.api.log.:INFO gs.openstack.wsgi.server [ reqymjwknyjwlrnhwlbg ] HTTP exception thrown: No entry found for any event'

In [102]:
lsst = test_txt.split('.')
lsst

['gs',
 'api',
 'log',
 '57_13-09-2019_06:59 34703 INFO gs',
 'openstack',
 'wsgi',
 'server [ req-y9mjwk-n1yj-6wl35r-nhwlbg ] HTTP exception thrown: No entry found for any event']

In [49]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans

In [69]:
import matplotlib.pyplot as plt

In [81]:
# wcss = []
# for i in range(5,20):
#     kmeans = KMeans(n_clusters=i,init='k-means++',max_iter=300,n_init=10,random_state=0)
#     kmeans.fit(X)
#     wcss.append(kmeans.inertia_)
# plt.plot(range(5,20),wcss)
# plt.title('The Elbow Method')
# plt.xlabel('Number of clusters')
# plt.ylabel('WCSS')
# plt.savefig('elbow.png')
# plt.show()

In [114]:
desc = data['mod_txt2'].values
vectorizer = TfidfVectorizer(max_features=1000)
X = vectorizer.fit_transform(desc)
kmeans = KMeans(n_clusters=20,init='k-means++',max_iter=500,n_init=10,random_state=0)
kmeans.fit(X)
X_test = vectorizer.transform(datat['mod_txt2'].values)
y = kmeans.predict(X_test)
results = pd.Series(y,index=None)
results = results.map(resmap)
resdata = {'LineNumber':datat['LineNumber'],'Class':results}
df = pd.DataFrame(data=resdata)
df.to_csv('./tfidf5_modtxt2.csv',index=False)

In [98]:
# resmap = {}
# for i in range(1,21):
#     resmap.update({i-1:f'C{i}'})
# resmap